body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1317px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14960 {
  position:absolute;
  left:10px;
  top:139px;
  width:1280px;
  height:1317px;
}
#u14961 {
  position:absolute;
  left:2px;
  top:650px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14962 {
  position:absolute;
  left:263px;
  top:205px;
  width:1007px;
  height:585px;
}
#u14963 {
  position:absolute;
  left:2px;
  top:284px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14964 {
  position:absolute;
  left:10px;
  top:186px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14965 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14966 {
  position:absolute;
  left:10px;
  top:468px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14967 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14968 {
  position:absolute;
  left:10px;
  top:515px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14969 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14970 {
  position:absolute;
  left:10px;
  top:233px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14971 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14972 {
  position:absolute;
  left:10px;
  top:280px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14973 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14974 {
  position:absolute;
  left:10px;
  top:562px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14975 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14976 {
  position:absolute;
  left:10px;
  top:609px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14977 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14978 {
  position:absolute;
  left:10px;
  top:327px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14979 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14980 {
  position:absolute;
  left:10px;
  top:10px;
  width:1280px;
  height:70px;
}
#u14981 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u14982 {
  position:absolute;
  left:21px;
  top:20px;
  width:138px;
  height:50px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u14983 {
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u14984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
}
#u14984 {
  position:absolute;
  left:263px;
  top:162px;
  width:157px;
  height:22px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
}
#u14985 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u14986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14986 {
  position:absolute;
  left:10px;
  top:374px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u14987 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u14988 {
  position:absolute;
  left:10px;
  top:421px;
  width:232px;
  height:48px;
  color:#666666;
  text-align:left;
}
#u14989 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u14990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14990 {
  position:absolute;
  left:292px;
  top:255px;
  width:943px;
  height:41px;
}
#u14991 {
  position:absolute;
  left:2px;
  top:12px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14992 {
  position:absolute;
  left:292px;
  top:295px;
  width:943px;
  height:166px;
}
#u14993 {
  position:absolute;
  left:2px;
  top:75px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14994 {
  position:absolute;
  left:312px;
  top:266px;
  width:12px;
  height:19px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14995 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u14996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u14996 {
  position:absolute;
  left:339px;
  top:266px;
  width:7px;
  height:19px;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u14997 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u14998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u14998 {
  position:absolute;
  left:369px;
  top:266px;
  width:12px;
  height:19px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u14999 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u15000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u15000 {
  position:absolute;
  left:406px;
  top:267px;
  width:21px;
  height:17px;
  color:#FFFFFF;
}
#u15001 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15002 {
  position:absolute;
  left:292px;
  top:222px;
  width:115px;
  height:17px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15003 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u15004 {
  position:absolute;
  left:300px;
  top:306px;
  width:921px;
  height:147px;
}
#u15004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:147px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15005 {
  position:absolute;
  left:292px;
  top:541px;
  width:943px;
  height:41px;
}
#u15006 {
  position:absolute;
  left:2px;
  top:12px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15007 {
  position:absolute;
  left:292px;
  top:581px;
  width:943px;
  height:166px;
}
#u15008 {
  position:absolute;
  left:2px;
  top:75px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15009 {
  position:absolute;
  left:309px;
  top:552px;
  width:12px;
  height:19px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15010 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u15011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u15011 {
  position:absolute;
  left:339px;
  top:552px;
  width:7px;
  height:19px;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u15012 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u15013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u15013 {
  position:absolute;
  left:369px;
  top:552px;
  width:12px;
  height:19px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u15014 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u15015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u15015 {
  position:absolute;
  left:406px;
  top:553px;
  width:21px;
  height:17px;
  color:#FFFFFF;
}
#u15016 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15017 {
  position:absolute;
  left:292px;
  top:508px;
  width:138px;
  height:17px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15018 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u15019 {
  position:absolute;
  left:300px;
  top:592px;
  width:921px;
  height:147px;
}
#u15019_input {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:147px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:2px;
}
#u15020 {
  position:absolute;
  left:272px;
  top:492px;
  width:985px;
  height:1px;
}
#u15021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15022 {
  position:absolute;
  left:21px;
  top:97px;
  width:280px;
  height:22px;
  font-size:18px;
}
#u15023 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u15024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15024 {
  position:absolute;
  left:1078px;
  top:37px;
  width:42px;
  height:17px;
}
#u15025 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u15026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15026 {
  position:absolute;
  left:1184px;
  top:37px;
  width:60px;
  height:17px;
}
#u15027 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u15028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15028 {
  position:absolute;
  left:10px;
  top:139px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15029 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
