body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1317px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15819 {
  position:absolute;
  left:10px;
  top:139px;
  width:1280px;
  height:1317px;
}
#u15820 {
  position:absolute;
  left:2px;
  top:650px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15821 {
  position:absolute;
  left:263px;
  top:205px;
  width:1007px;
  height:585px;
}
#u15822 {
  position:absolute;
  left:2px;
  top:284px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15823 {
  position:absolute;
  left:10px;
  top:186px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15824 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15825 {
  position:absolute;
  left:10px;
  top:468px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15826 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15827 {
  position:absolute;
  left:10px;
  top:515px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15828 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15829 {
  position:absolute;
  left:10px;
  top:233px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15830 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15831 {
  position:absolute;
  left:10px;
  top:280px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15832 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15833 {
  position:absolute;
  left:10px;
  top:562px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15834 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15835 {
  position:absolute;
  left:10px;
  top:609px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15836 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15837 {
  position:absolute;
  left:10px;
  top:327px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15838 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15839 {
  position:absolute;
  left:10px;
  top:10px;
  width:1280px;
  height:70px;
}
#u15840 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u15841 {
  position:absolute;
  left:21px;
  top:20px;
  width:138px;
  height:50px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u15842 {
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u15843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
}
#u15843 {
  position:absolute;
  left:263px;
  top:162px;
  width:157px;
  height:22px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
}
#u15844 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u15845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15845 {
  position:absolute;
  left:10px;
  top:374px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15846 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u15847 {
  position:absolute;
  left:10px;
  top:421px;
  width:232px;
  height:48px;
  color:#666666;
  text-align:left;
}
#u15848 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u15849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15849 {
  position:absolute;
  left:292px;
  top:255px;
  width:943px;
  height:41px;
}
#u15850 {
  position:absolute;
  left:2px;
  top:12px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15851 {
  position:absolute;
  left:292px;
  top:295px;
  width:943px;
  height:166px;
}
#u15852 {
  position:absolute;
  left:2px;
  top:75px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15853 {
  position:absolute;
  left:312px;
  top:266px;
  width:12px;
  height:19px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15854 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u15855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u15855 {
  position:absolute;
  left:339px;
  top:266px;
  width:7px;
  height:19px;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u15856 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u15857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u15857 {
  position:absolute;
  left:369px;
  top:266px;
  width:12px;
  height:19px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u15858 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u15859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u15859 {
  position:absolute;
  left:406px;
  top:267px;
  width:21px;
  height:17px;
  color:#FFFFFF;
}
#u15860 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15861 {
  position:absolute;
  left:292px;
  top:222px;
  width:115px;
  height:17px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15862 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u15863 {
  position:absolute;
  left:300px;
  top:306px;
  width:921px;
  height:147px;
}
#u15863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:147px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15864 {
  position:absolute;
  left:292px;
  top:541px;
  width:943px;
  height:41px;
}
#u15865 {
  position:absolute;
  left:2px;
  top:12px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15866 {
  position:absolute;
  left:292px;
  top:581px;
  width:943px;
  height:166px;
}
#u15867 {
  position:absolute;
  left:2px;
  top:75px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15868 {
  position:absolute;
  left:309px;
  top:552px;
  width:12px;
  height:19px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u15869 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u15870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u15870 {
  position:absolute;
  left:339px;
  top:552px;
  width:7px;
  height:19px;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u15871 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u15872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u15872 {
  position:absolute;
  left:369px;
  top:552px;
  width:12px;
  height:19px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u15873 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u15874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u15874 {
  position:absolute;
  left:406px;
  top:553px;
  width:21px;
  height:17px;
  color:#FFFFFF;
}
#u15875 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15876 {
  position:absolute;
  left:292px;
  top:508px;
  width:138px;
  height:17px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u15877 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u15878 {
  position:absolute;
  left:300px;
  top:592px;
  width:921px;
  height:147px;
}
#u15878_input {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:147px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:2px;
}
#u15879 {
  position:absolute;
  left:272px;
  top:492px;
  width:985px;
  height:1px;
}
#u15880 {
  position:absolute;
  left:2px;
  top:-8px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15881 {
  position:absolute;
  left:21px;
  top:97px;
  width:280px;
  height:22px;
  font-size:18px;
}
#u15882 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u15883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15883 {
  position:absolute;
  left:1078px;
  top:37px;
  width:42px;
  height:17px;
}
#u15884 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u15885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15885 {
  position:absolute;
  left:1184px;
  top:37px;
  width:60px;
  height:17px;
}
#u15886 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u15887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u15887 {
  position:absolute;
  left:10px;
  top:139px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u15888 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
