body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1317px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8077 {
  position:absolute;
  left:10px;
  top:139px;
  width:1280px;
  height:1317px;
}
#u8078 {
  position:absolute;
  left:2px;
  top:650px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:585px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8079 {
  position:absolute;
  left:263px;
  top:205px;
  width:1007px;
  height:585px;
}
#u8080 {
  position:absolute;
  left:2px;
  top:284px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8081 {
  position:absolute;
  left:10px;
  top:186px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8082 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8083 {
  position:absolute;
  left:10px;
  top:468px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8084 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8085 {
  position:absolute;
  left:10px;
  top:515px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8086 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8087 {
  position:absolute;
  left:10px;
  top:233px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8088 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8089 {
  position:absolute;
  left:10px;
  top:280px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8090 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8091 {
  position:absolute;
  left:10px;
  top:562px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8092 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8093 {
  position:absolute;
  left:10px;
  top:609px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8094 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8095 {
  position:absolute;
  left:10px;
  top:327px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8096 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8097 {
  position:absolute;
  left:10px;
  top:10px;
  width:1280px;
  height:70px;
}
#u8098 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u8099 {
  position:absolute;
  left:21px;
  top:20px;
  width:138px;
  height:50px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#A1A1A1;
}
#u8100 {
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u8101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
}
#u8101 {
  position:absolute;
  left:263px;
  top:162px;
  width:157px;
  height:22px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
}
#u8102 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u8103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8103 {
  position:absolute;
  left:10px;
  top:374px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8104 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:left;
}
#u8105 {
  position:absolute;
  left:10px;
  top:421px;
  width:232px;
  height:48px;
  color:#666666;
  text-align:left;
}
#u8106 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
#u8107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8107 {
  position:absolute;
  left:292px;
  top:255px;
  width:943px;
  height:41px;
}
#u8108 {
  position:absolute;
  left:2px;
  top:12px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8109 {
  position:absolute;
  left:292px;
  top:295px;
  width:943px;
  height:166px;
}
#u8110 {
  position:absolute;
  left:2px;
  top:75px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8111 {
  position:absolute;
  left:312px;
  top:266px;
  width:12px;
  height:19px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8112 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u8113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u8113 {
  position:absolute;
  left:339px;
  top:266px;
  width:7px;
  height:19px;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u8114 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u8115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u8115 {
  position:absolute;
  left:369px;
  top:266px;
  width:12px;
  height:19px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u8116 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u8117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u8117 {
  position:absolute;
  left:406px;
  top:267px;
  width:21px;
  height:17px;
  color:#FFFFFF;
}
#u8118 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8119 {
  position:absolute;
  left:292px;
  top:222px;
  width:115px;
  height:17px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8120 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u8121 {
  position:absolute;
  left:300px;
  top:306px;
  width:921px;
  height:147px;
}
#u8121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:147px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8122 {
  position:absolute;
  left:292px;
  top:541px;
  width:943px;
  height:41px;
}
#u8123 {
  position:absolute;
  left:2px;
  top:12px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:166px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8124 {
  position:absolute;
  left:292px;
  top:581px;
  width:943px;
  height:166px;
}
#u8125 {
  position:absolute;
  left:2px;
  top:75px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8126 {
  position:absolute;
  left:309px;
  top:552px;
  width:12px;
  height:19px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8127 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u8128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u8128 {
  position:absolute;
  left:339px;
  top:552px;
  width:7px;
  height:19px;
  font-family:'Tahoma Oblique', 'Tahoma';
  font-weight:400;
  font-style:oblique;
  font-size:16px;
  color:#FFFFFF;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u8130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u8130 {
  position:absolute;
  left:369px;
  top:552px;
  width:12px;
  height:19px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#FFFFFF;
}
#u8131 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u8132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:17px;
}
#u8132 {
  position:absolute;
  left:406px;
  top:553px;
  width:21px;
  height:17px;
  color:#FFFFFF;
}
#u8133 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8134 {
  position:absolute;
  left:292px;
  top:508px;
  width:138px;
  height:17px;
  font-family:'Tahoma Bold', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8135 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  white-space:nowrap;
}
#u8136 {
  position:absolute;
  left:300px;
  top:592px;
  width:921px;
  height:147px;
}
#u8136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:147px;
  font-family:'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#868686;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:2px;
}
#u8137 {
  position:absolute;
  left:272px;
  top:492px;
  width:985px;
  height:1px;
}
#u8138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:981px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8139 {
  position:absolute;
  left:21px;
  top:97px;
  width:280px;
  height:22px;
  font-size:18px;
}
#u8140 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
#u8141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8141 {
  position:absolute;
  left:1078px;
  top:37px;
  width:42px;
  height:17px;
}
#u8142 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u8143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8143 {
  position:absolute;
  left:1184px;
  top:37px;
  width:60px;
  height:17px;
}
#u8144 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u8145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u8145 {
  position:absolute;
  left:10px;
  top:139px;
  width:232px;
  height:48px;
  color:#CCCCCC;
  text-align:left;
}
#u8146 {
  position:absolute;
  left:2px;
  top:16px;
  width:228px;
  word-wrap:break-word;
}
